{% load static %}

<link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/font-awesome.css' %}" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

<html>
    <div id="app"></div>
</html>
<script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
<link href="{% static 'src/vue/dist/css/app.css' %}" rel=stylesheet>
